body {
    display: flex;
    background-color: #010b23;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #f6d648;
}

p1 {
    margin-bottom: 1rem;
    color: #ffffff;
    font-size: 1.1em;
    padding: 20px 12px;
}

strong {
    color: #f6d648;
    font-size: 1.3em;
}

#plant {
    display: block;
    width: 50vw;
    height: 50vh;
    margin: 0;
    
}

@media (min-width: 900px) {
    #Plant {
        width: 60vw;
        height: 60vh;
    }
}